<%= form_with(model: detail) do |form| %>

  <% if detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

      <ul>
        <% detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.label :pickup_address %>
    <%= form.text_field :pickup_address %>
    <h1 class="mb-3"> </h1>
    <%= form.label :deliver_address %>
    <%= form.text_field :deliver_address %>
    <h1 class="mb-3"> </h1>
    <%= form.submit :submit, class:"btn btn-info"%>
  </div>
<% end %>
