<p id="notice"><%= notice %></p>

<p>
  <strong>Pickup address:</strong>
  <%= @detail.pickup_address %>
</p>

<p>
  <strong>Deliver address:</strong>
  <%= @detail.deliver_address %>
</p>


<%= link_to 'Edit', edit_detail_path(@detail) %>  |

<%= link_to 'Next', details_path  %>






